@import './reset.css';
@import './typography.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/900.css';

:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xlg: 1.5rem;
  --spacing-xxl: 2rem;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --light: #ffffff;
  --dark: #000000;
  --eddie-turquoise-light: #c6e2e9;
  --eddie-grey-medium: #4e4e4e;
  --eddie-grey-light: #ededed;
  --eddie-yellow: #fed119;
  --eddie-primary: #017aa0;
  --eddie-secondary: #eff2f7;
  --eddie-blue: #15a7e0;
  --eddie-green: #92c143;
  --eddie-yellow: #fed119;
  --eddie-red-dark: #9e0b0f;
  --eddie-red-light: #ff3b30;
  --eddie-red-medium: #b3261e;
  --eddie-primary-900: #017aa0e6;
  --eddie-primary-100: #017aa01a;
  --eddie-primary-400: #017aa066;
  --max-content-width: 1024px;
  --content-padding: 1rem;
  --app-bg-color: rgb(239, 242, 247, 0.9998);
  --main-bg-color: rgb(255, 255, 255, 0.5);
  --border-radius: 0.5rem;
  font-size: 16px;
  line-height: 1.5;

  @media screen and (min-width: 640px) {
    --content-padding: 2rem;
  }

  @media screen and (min-width: 1024px) {
    --content-padding: 4rem;
  }

  @media (min-width: 1620px) {
    --content-padding: 10rem;
    --max-content-width: 1440px;
  }

  @media screen and (min-width: 2565px) {
    --max-content-width: 70vw;
    font-size: clamp(16px, 1vw, 32px);
  }
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  letter-spacing: 0.01em;
  padding: 3rem var(--content-padding);
  max-width: calc(var(--max-content-width) + 2 * var(--content-padding));
  margin: 0 auto;
  background-color: var(--app-bg-color);

  &::before {
    content: '';
    background: url(@/assets/eddie-brandmark.svg) no-repeat center/contain;
    z-index: -1;
    rotate: 11.7deg;
    position: fixed;
    right: -5%;
    bottom: -5%;
    filter: blur(20px);
    height: 70vh;
    width: 70vh;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1rem;
    line-height: 1.5;
  }
}

main {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.9) 100%);
  border-radius: var(--spacing-xlg);
  padding: var(--spacing-sm);
  @media screen and (min-width: 1024px) {
    padding: var(--spacing-xxl);
  }
}

.router-link-active {
  border-color: var(--eddie-primary) !important;
  font-weight: var(--font-weight-bold);
}

svg {
  width: 1rem;
}
