# Required for Keycloak authentication
VITE_KEYCLOAK_URL=http://localhost:8888
VITE_KEYCLOAK_REALM=EDDIE
VITE_KEYCLOAK_CLIENT=AIIDA
# URL of the EDDIE Instance
VITE_EDDIE_URL=
# IDs for the Dataneeds to create correct permissions via EDDIE button
VITE_EDDIE_HISTORIC_DATANEED_ID=
VITE_EDDIE_REALTIME_DATANEED_ID=
# URL of example app backend
VITE_BACKEND_BASE_URL=http://localhost:8080
